.highlight-cls {
    background-color: white;
    font-weight: 900;
    color:rgba(14, 110, 235, 0.609);
}
.light-text-cls {
    color: black;
    font-size: 30px;
}
.dark-text-cls {
    color: white;
    font-size: 30px;
}